body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbarContainer{
  width: 100%;
  height: 10rem;
  text-align: left;
}

#searchBar{
  display: inline-block;
}

.searchInput{
  width: 0;
  height: 2.5rem;
  margin: 10rem 0 0 11rem;
  border-radius: 5rem;
  border: solid #bbbbbb;
  border-width: 2px;
  padding: 0 1rem 0 1rem;
  outline: none;
  opacity: 0;
}

#searchIcon{
  position: absolute;
  top: 10.5rem;
  left: 9rem;
  font-size: 1.3rem;
  color: #a1a1a1;
  display: inline-block;
}

#bellIcon{
  position: absolute;
  right: 13rem;
  top: 9.8rem;
  font-size: 1.5rem;
  color: #8a8a8a;
  display: inline-block;
}

.searchInput:focus{
  border-color: #000000;
}

#topListContainer{
  margin: 5rem;
}

.topListItem{
  width: 12rem;
  height: 13rem;
  display: inline-block;
  margin: 2rem;
  background-color: #ffffff;
  border: solid #8a8a8a;
  border-width: 1px;
  border-radius: 1rem;
}

.topListItem:hover{
  background-color: #f0f0f0;
}

.profilePicture{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: 4rem;
  margin: 1rem 0 0 0;
  border-radius: 100%;
  background-color: #ffffff;
  border: solid #8a8a8a;
  border-width: 2px;
}

.username{
  margin: 3rem 0 0 0;
}

#myProfileIcon{
  position: absolute;
  right: 9rem;
  top: 9.5rem;
  width: 2rem;
  height: 2rem;
  background-color: aqua;
  border-radius: 100%;
}

#listenersIcon{
  margin: 1rem 0 0 0;
  color: #b8b8b8;
}
